# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [4]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [17]:
orders = pd.read_csv('Orders.csv')
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [29]:
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [27]:
# Step 1: Aggregate expenses of each customer
customer_expenses = orders.groupby('CustomerID')['amount_spent'].sum()

# Step 2: Calculate percentiles
percentiles = customer_expenses.quantile([0.75, 0.95, 1.0])

# Step 3: Classify customers
vip_customers = customer_expenses[customer_expenses > percentiles[0.95]]
preferred_customers = customer_expenses[
    (customer_expenses <= percentiles[0.95]) & 
    (customer_expenses > percentiles[0.75])]

# Display the number of VIP and Preferred Customers
print("Number of VIP Customers:", vip_customers.shape[0])
print("Number of Preferred Customers:", preferred_customers.shape[0])

Number of VIP Customers: 217
Number of Preferred Customers: 868

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [28]:
vip_customers_info = pd.merge(orders, vip_customers, left_on='CustomerID', right_index=True)

vip_customers_by_country = vip_customers_info.groupby('Country').size()

country_with_most_vip_customers = vip_customers_by_country.idxmax()
num_vip_customers = vip_customers_by_country.max()

print(f"The country with the most VIP customers is {country_with_most_vip_customers} with {num_vip_customers} VIP customers.")

The country with the most VIP customers is United Kingdom with 84185 VIP customers.

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [37]:
customer_labels_df = pd.DataFrame(customer_labels, columns=['customer_labels'])
display(customer_labels_df)

           customer_labels
CustomerID
12346                  VIP
12347            Preferred
12348            Preferred
12349            Preferred
12350                  NaN
...                    ...
18280                  NaN
18281                  NaN
18282                  NaN
18283            Preferred
18287            Preferred

[4339 rows x 1 columns]

In [39]:
vip_preferred_customers_info = pd.merge(orders, customer_labels_df, left_on='CustomerID', right_index=True)

vip_preferred_customers_info = vip_preferred_customers_info[vip_preferred_customers_info['customer_labels'].isin(['VIP', 'Preferred'])]

vip_preferred_customers_by_country = vip_preferred_customers_info.groupby('Country').size()

country_with_most_vip_preferred_customers = vip_preferred_customers_by_country.idxmax()
num_vip_preferred_customers = vip_preferred_customers_by_country.max()

print(f"The country with the most VIP+Preferred customers combined is {country_with_most_vip_preferred_customers} with {num_vip_preferred_customers} VIP+Preferred customers.")

The country with the most VIP+Preferred customers combined is United Kingdom with 221635 VIP+Preferred customers.